@import url('https://fonts.googleapis.com/css?family=Lora|Raleway&display=swap');

/*

font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif; */

:root {
  --textPrimary: #ffffff;
  --textSecounday: #000000;
  --mainBackground: #004982;
  --secBackground: #ffffff;
  --header: #ffd522;
}

/* Defult Info */

* {
  margin: 0px;
  padding: 0px;

}

body {
  width: 100%;
  background: var(--secBackground);
}

/* Logo Style */
.logo {
  background-color: var(--mainBackground);
}

.pureLogo {
  display: block;
  margin: 0 auto;
  width: 110px;
  padding: 20px;
}

.logoBare {
  display: none;
}

/* Navigation Style */
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  text-align: center;
  background-color: var(--mainBackground);
  color: white;
}

nav button {
  border: none;
  font-size: 26px;
  padding: 10px;
  color: white;
  background-color: var(--mainBackground);
  font-family: Lora;
}

nav button:hover {
  cursor: pointer;
  background-color: gold;
}

/* Hero Elements */
.hero {
  width: 100%;
  margin: 0 auto;
  background-image: url("img/bg-img.jpeg");
  background-color: var(mainBackground)l;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.heroText {
  text-align: center;
  color: white;
  font-size: 6vw;
  width: 60%;
  margin: 0 auto;
  padding-top: 7%;
  font-family: Lora;
}

.hero2 {
  width: 100%;
  height: 200px;
}

.hayColour {
  background-color: green;
}

/* House Page Header */
.heroText2 {
  padding-top: 40px;

}

.heroText2 h1 {
  text-align: center;
  color: white;
  font-size: 65px;
  width: 60%;
  margin: 0 auto;
  font-family: Lora;
}

.heroText2 p {
  text-align: center;
  color: white;
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  font-family: Lora;
}


/* Home Page Main Text */
.mainText {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--secBackground);
  color: var(--textSecounday);
  font-family: Raleway;,
}

.linkTag {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/* House Page Header */
.houseHeader {
  color: var(--textSecounday);
}

/* House Page Split Zone */
.splitZone {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.splitLeft {
  background-color: var(--secBackground);
  height: 200px;
  width: auto;
  padding: 20px;
}

.splitRight {
  background-color: var(--secBackground);
  height: 200px;
  width: auto;
  padding: 20px;
}

/* Split Zone header */
#upcomming {
  text-align: center;
  font-size: 40px;
  font-family: Lora;
  padding-bottom: 10px;
}

#point {
  text-align: center;
  font-size: 40px;
  font-family: Lora;
  padding-bottom: 10px;
}
 /* Split Zone subheading */
#pointBlurb {
  text-align: left;
  font-size: 20px;
  font-family: Raleway;
}
#upcommingBlurb {
  text-align: left;
  font-size: 20px;
  font-family: Raleway;
}

/* Split Zone Box */
.splitBox {
  padding: 10px;
  border: 3px solid;
  border-radius: 1.5px;
  border-color: var(--mainBackground)
}

.subheading {
  text-align: left;
  color: var(--textSecounday);
  font-size: 20px;
  font-family: Raleway;

}

/* Footer */
footer {
  height: auto;
  width: 100%;
  background-color: var(--mainBackground);
  color: var(--textPrimary);
  font-family: Raleway;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.footerBox {
  width: 90%;
  margin: 0 auto;
  }

footer h2{
    font-family: Lora;

}

footer h3 {
  font-family: Lora;
}

footer p {
  font-family: Raleway;

}

/* Spilt three box footer */
.address {
  padding: 15px;
  width: 90%

}
.schoolInfo {
  padding: 15px;
  width: 90%
}
.termDates {
  padding: 15px;
  width: 90%;
}

/* Box Elememts */
.box {
  padding-bottom: 10px;
  padding-top: 10px;
}


/* Media Tablet Viewing */
@media only screen and (max-width: 600px) {

/* Logo */
.pureLogo {
  display: none;
}

.logoBare {
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 10px;
}


/* Navigation */
  nav {
    display: block;
    text-align: center;
    padding: 20px;
  }

  nav button {
    font-size: 10px;
    padding: 5px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

/* Home Page Hero Image */
.hero {
  height: 300px;
  padding-top: 100px;
}


/* House Page header */
.heroText2 h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  width: 60%;
  margin: 0 auto;
  padding-top: 4%;
  font-family: Lora;
}

.heroText2 p {
  text-align: center;
  color: white;
  font-size: 15px;
  width: 60%;
  margin: 0 auto;
  font-family: Lora;
}

/* Main home page text*/
  .main-text {
    font-size: 12px;
  }

  /* Split Zone header */
  #upcomming {
    text-align: center;
    font-size: 30px;
    font-family: Lora;
    padding-bottom: 10px;
  }

  #point {
    text-align: center;
    font-size: 30px;
    font-family: Lora;
    padding-bottom: 10px;
  }
   /* Split Zone subheading */
  #pointBlurb {
    text-align: left;
    font-size: 15px;
    font-family: Raleway;
  }
  #upcommingBlurb {
    text-align: left;
    font-size: 15px;
    font-family: Raleway;
  }

  /* Footer */
  footer {
    height: auto;
    width: 100%;
    background-color: var(--mainBackground);
    color: var(--textPrimary);
    font-family: Raleway;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .footerBox {
    width: 90%;
    margin: 0 auto;
    }

  footer h2{
      font-size: 20px;
  }

  footer h3 {
    font-size: 16px;

  }

  footer p {
    font-size: 12px;

  }
