:root {
  --textPrimary: #ffffff;
  --textSecounday: #000000;
  --mainBackground: #004982;
  --secBackground: #ffffff;
  --header: #ffd522;

}

/* Defult Info */

* {
  margin: 0px;
  padding: 0px;

}

body {
  width: 100%;
  background: var(--secBackground);
}

/* Logo Style */

.logo {
  width: 100%;
  height: 150px;
  background-color: var(--mainBackground);
}

.logoZone {
  padding-top: 30px;
  width: 10%;
  margin: 0 auto;
}

.logoZone img {
  width: 100px;

}

/* Navigation Style */

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  text-align: center;
  background-color: var(--mainBackground);
  color: white;
}

nav button {
  border: none;
  font-size: 26px;
  padding: 10px;
  color: white;
  background-color: var(--mainBackground);
}

nav button:hover {
  cursor: pointer;
  background-color: gold;
}

/* Hero Elements */
.hero {
  width: 100%;
  margin: 0 auto;
  background-image: url("img/bg-img.jpeg");
  background-color: var(mainBackground)l;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.heroText {
  text-align: center;
  color: white;
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgImg{
  max-width: 100%;
  height: auto;
}

/* Home Page Main Text */
.mainText {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--secBackground);
  color: var(--textSecounday);
}



.linkTag {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;

}

.hero2 {
  background: var(--header);
  width: 100%;
  height: 200px;

}

.heroText2 {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  color: white;
  padding-top: 30px;

}

.pg2-hero-text h1 {
  padding: 10px;
  font-size: 40px;
}

.houseHeader {
  color: var(--textSecounday);
}


.splitZone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.splitLeft {
  background-color: var(--secBackground);
  height: 200px;
  width: auto;
}

.splitLeft h1 {
  text-align: center;
  font-size: 30pt;
  padding-top: 20px;
}

.splitRight h1 {
  text-align: center;
  font-size: 30pt;
  padding-top: 20px;
}

.splitLeft p {
  padding: 10px;
  text-align: left;
  color: var(--textSecounday);
}

.splitRight p {
  padding: 10px;
  text-align: left;
  color: var(textSecounday);
}

.splitRight {
  background-color: var(--secBackground);
  height: 200px;
  width: auto;
}

.footerBoundry{
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.leaderboard {
  width: 60%;
  margin: 0 auto;
}

.leaderboardPlacing {
  width: 100%;
  padding: 10px;
  margin: 0, auto;
  text-align: left;
}



.leaderboardHeader {
  width: 100%;
  margin: 0, auto;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}


.splitZone p {
  font-size: 15px;

}

/* Footer */
footer {
  height: 100px;
  width: 100%;
  background-color: var(--mainBackground);
  color: var(--textPrimary);

}

/* Media */
@media only screen and (max-width: 600px) {


  .logo-zone img {
    width: 60px;
  }




.logo {
  height: 20%;
}

  nav {
    display: block;
    text-align: center;
    padding: 20px;

  }

  nav button {
    font-size: 10px;
    padding: 5px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
  .main-text {
    font-size: 12px;
  }
  .hero-text {
    font-size: 25px;
    padding-bottom: 170px;
  }


  .pg2-hero-text h1 {
    font-size: 30px;
  }
  .pg2-hero-text p {
    font-size: 15px;
    text-align: center;
    width: 70%;
    margin: 0 auto;

  }

  .split-section h1 {
    font-size: 25px; }

  }

  .leaderboard-header {
    font-size: 25px;
    text-align: center;
  }

.leaderboard-placing {
  font-size: 15px;

}

  @media only screen and (max-width: 375px) {

    .logo {
      display: none;
    }

    nav {
      display: block;
      text-align: center;
      padding: 20px;

    }

    nav button {
      font-size: 10px;
      padding: 5px;
      font-size: 15px;
      display: block;
      text-align: center;
      margin: 0 auto;
  }
    .main-text {
      font-size: 12px;
    }
    .hero-text {
      font-size: 25px;
      padding-bottom: 225px;
    }

    .pg2-hero-text h1 {
      font-size: 30px;
    }
    .pg2-hero-text p {
      font-size: 15px;
      text-align: center;
      width: 70%;
      margin: 0 auto;

    }

    .split-section h1 {
      font-size: 25px; }

    }
